//fonts used
$font-primary:'Patrick Hand',
cursive;
$font-secondary:'Source Serif Pro',
serif;
//colors-used
$color-primary:#0d465b;
$color-blue:#65c6e7;
$color-darkpink:#d9418c;
$color-orange:#fba832;
$color-purple:#9f4c88;

$common-transition:all 0.3s linear;