/* All custom codes with comment */

$color-primary:teal;
$color-black:black;

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 136px;
    font-weight: bold;
}

#section-home1 {
    height: 100vh;
    position: relative;
    text-align: center;
    background: lighten($color-black, 90%);
    h1 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $color-primary;
    }
}

.scroll-area {
    position: relative;
    overflow: hidden;
    .toLeft {
        text-align:left;
        position: relative;
        left: 100%;
    }
    .toRight {
        text-align:right;
        position: relative;
        right: 100%;
    }
}
